#Black-Overlay {
    position: fixed; /* Sit on top of the page content */
    z-index:255;
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,1); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
    pointer-events: none;
}


#parent{
    mix-blend-mode: multiply; 
    pointer-events: none;
    position:absolute; 
    top:0;left:0; 
    width:100vw; 
    height:100vh; 
    z-index:99999;
}

#cover {
    position:fixed; 
    top:0;left:0; 
    width:100vw; 
    height:100vh; 
    background-color: rgba(0,0,0,0);
    mix-blend-mode: lighten;
    background-size:cover; 
    z-index:12345;
    pointer-events:none;
}

#cursor {
    position: absolute;
    width: 50px; height: 50px;
    top: 50%; left: 50%;
    border-radius: 100%;
    background: rgb(255, 255, 255);
    /*opacity:0.25;*/
    pointer-events: none;
    /*mix-blend-mode: difference;*/
    /*transition: opacity 0.5s, transform 0.1s;*/
    z-index: 1234;
}

#cursor.mousedown {
    opacity:0.5;
    transition: opacity 0.1s, transform 0.1s;
}

#cursor.interactive {
    transform: scale(0.8);
    opacity:0.35;
    transition: opacity 0.1s, transform 0.1s;
}

#cursor.fade {
    opacity:0;
}


